<a href="https://colab.research.google.com/github/giocarro/Test_repo/blob/main/PythonDiplomado/Panda_090523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
pd.DataFrame().dtypes

Series([], dtype: object)

In [4]:
data = [1,2,3,4,5]

In [5]:
pd.DataFrame(data)

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
pd.DataFrame(data, columns = ['Numeros'])

   Numeros
0        1
1        2
2        3
3        4
4        5

In [7]:
pd.DataFrame(data, columns = ['Numeros'], index = ['Lun','Mar','Mier','Juev','Vier'])

      Numeros
Lun         1
Mar         2
Mier        3
Juev        4
Vier        5

In [8]:
data = [['Juan',20],['Luisa',30], ['Ricardo',25]]
pd.DataFrame(data,columns = ['Nombre','Edad'])

    Nombre  Edad
0     Juan    20
1    Luisa    30
2  Ricardo    25

In [9]:
data = {''}

In [10]:
pd.read_excel('/content/tote_shipment.xlsx')

KeyboardInterrupt: ignored

In [11]:
from google.colab import drive

In [12]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
%cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [14]:
df = pd.read_excel('tote_shipment.xlsx')

In [16]:
df.head(10)

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4
5,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:22:09.038,47.79366,-65.75921,25.0,77.0
6,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:26:07.080,47.79366,-65.75921,25.0,77.0
7,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 10:59:28.892,47.79366,-65.75921,24.5,76.1
8,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 12:48:11.580,47.79366,-65.75921,25.0,77.0
9,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 13:02:29.755,47.79366,-65.75921,25.0,77.0

In [17]:
df.tail()

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20

In [18]:
df_1 = pd.read_excel('tote_shipment.xlsx',header = None)
df_1.head()

,0,1,2,3,4,5,6,7,8,9,10
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3

In [19]:
df_1.columns = ['Tipo','Asset ID','Tag ID','Sitio','Zona','Device ID','Tiempo','lat','Ing','Temp_C','Temp_F']
df_1

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,Ing,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [20]:
df.columns

Index(['asset_type', 'asset_id', 'tag_id', 'Site', 'Zone', 'device_id',
       'time_est', 'lat', 'lng', 'Temperature_C', 'Temperature_F'],
      dtype='object')

In [21]:
df = df.rename(columns = {'asset_type':'tipo', 'Site':'Sitio', 'Zone':'zona', 'time_est':'hora'})
df.head()

,tipo,asset_id,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4

In [22]:
df.shape

(130061, 11)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130061 entries, 0 to 130060
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tipo           130061 non-null  object
 1   asset_id       130061 non-null  int64
 2   tag_id         130061 non-null  object
 3   Sitio          130061 non-null  object
 4   zona           130061 non-null  object
 5   device_id      130061 non-null  object
 6   hora           130061 non-null  datetime64[ns]
 7   lat            130061 non-null  float64
 8   lng            130061 non-null  float64
 9   Temperature_C  130061 non-null  float64
 10  Temperature_F  130061 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 10.9+ MB

In [25]:
df.describe()

,asset_id,lat,lng,Temperature_C,Temperature_F
count,130061.000000,130061.000000,130061.000000,130061.000000,130061.000000
mean,105.184475,47.760258,-65.668955,25.874445,78.574000
std,61.459262,0.019223,0.049597,2.795208,5.031375
min,2.000000,47.748780,-65.762200,19.000000,66.200000
25%,58.000000,47.749230,-65.641010,24.000000,75.200000
50%,84.000000,47.749230,-65.641010,25.000000,77.000000
75%,167.000000,47.749388,-65.641010,27.500000,81.500000
max,205.000000,47.805010,-65.640330,44.000000,111.200000

In [26]:
df.describe(include = 'all')

<ipython-input-26-74aa2f970831>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include = 'all')

,tipo,asset_id,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
count,130061,130061.000000,130061,130061,130061,130061,130061,130061.000000,130061.000000,130061.000000,130061.000000
unique,1,NaN,34,4,15,38,129887,NaN,NaN,NaN,NaN
top,tote,NaN,(01)00850027865010(21)0082T0953,Store,receiving_Store,AC8DEAE6FD79,2022-08-05 01:04:26.437000,NaN,NaN,NaN,NaN
freq,130061,NaN,6602,96897,66099,43611,2,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-02 10:14:54.326000,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-05 13:28:29.966000,NaN,NaN,NaN,NaN
mean,NaN,105.184475,NaN,NaN,NaN,NaN,NaN,47.760258,-65.668955,25.874445,78.574000
std,NaN,61.459262,NaN,NaN,NaN,NaN,NaN,0.019223,0.049597,2.795208,5.031375
min,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,47.748780,-65.762200,19.000000,66.200000
25%,NaN,58.000000,NaN,NaN,NaN,NaN,NaN,47.749230,-65.641010,24.000000,75.200000
50%,NaN,84.000000,NaN,NaN,NaN,NaN,NaN,47.749230,-65.641010,25.000000,77.000000
75%,NaN,167.000000,NaN,NaN,NaN,NaN,NaN,47.749388,-65.641010,27.500000,81.500000
max,NaN,205.000000,NaN,NaN,NaN,NaN,NaN,47.805010,-65.640330,44.000000,111.200000

In [27]:
df['asset_id']

0           2
1           2
2           2
3           2
4           2
         ...
130056    205
130057    205
130058    205
130059    205
130060    205
Name: asset_id, Length: 130061, dtype: int64

In [28]:
df[['asset_id','tag_id']]

        asset_id                           tag_id
0              2  (01)00850027865010(21)0082T0219
1              2  (01)00850027865010(21)0082T0219
2              2  (01)00850027865010(21)0082T0219
3              2  (01)00850027865010(21)0082T0219
4              2  (01)00850027865010(21)0082T0670
...          ...                              ...
130056       205  (01)00850027865010(21)0082T1137
130057       205  (01)00850027865010(21)0082T1137
130058       205  (01)00850027865010(21)0082T1137
130059       205  (01)00850027865010(21)0082T1137
130060       205  (01)00850027865010(21)0082T1137

[130061 rows x 2 columns]

In [29]:
df['asset_id'].unique()

array([  2,  37,  52,  58,  59,  62,  70,  84, 102, 145, 149, 159, 167,
       170, 181, 182, 200, 205])

In [30]:
len(df['asset_id'].unique())

18

In [31]:
df['asset_id'].nunique()

18

In [32]:
df.asset_id.unique()

array([  2,  37,  52,  58,  59,  62,  70,  84, 102, 145, 149, 159, 167,
       170, 181, 182, 200, 205])

In [33]:
df.tag_id.unique()

array(['(01)00850027865010(21)0082T0219',
       '(01)00850027865010(21)0082T0670',
       '(01)00850027865010(21)0082T0017',
       '(01)00850027865010(21)0082T0953',
       '(01)00850027865010(21)0082T0685',
       '(01)00850027865010(21)0082T1101',
       '(01)00850027865010(21)0082T0040',
       '(01)00850027865010(21)0082T0495',
       '(01)00850027865010(21)0082T0485',
       '(01)00850027865010(21)0082T0525',
       '(01)00850027865010(21)0082T0193',
       '(01)00850027865010(21)0082T0194',
       '(01)00850027865010(21)0082T0415',
       '(01)00850027865010(21)0082T1188',
       '(01)00850027865010(21)0082T0117',
       '(01)00850027865010(21)0082T0932',
       '(01)00850027865010(21)0082T0329',
       '(01)00850027865010(21)0082T0458',
       '(01)00850027865010(21)0082T0609',
       '(01)00850027865010(21)0082T0260',
       '(01)00850027865010(21)0082T0261',
       '(01)00850027865010(21)0082T0196',
       '(01)00850027865010(21)0082T0197',
       '(01)00850027865010(21)0082T0574',
       '(01)00850027865010(21)0082T0575',
       '(01)00850027865010(21)0082T0005',
       '(01)00850027865010(21)0082T0236',
       '(01)00850027865010(21)0082T1177',
       '(01)00850027865010(21)0082T0407',
       '(01)00850027865010(21)0082T0843',
       '(01)00850027865010(21)0082T0186',
       '(01)00850027865010(21)0082T0653',
       '(01)00850027865010(21)0082T1136',
       '(01)00850027865010(21)0082T1137'], dtype=object)

In [34]:
df.tag_id.nunique()

34

In [39]:
df.Sitio.unique()

array(['DC 1', 'DC 2', 'Transit', 'Store'], dtype=object)

In [40]:
df.zona.unique()

array(['dock_doors_DC1', 'dock_doors_DC2', 'Forklift3_DC1',
       'pallet_assembly_DC1', 'PhoneKit1Bridge', 'PhoneKit2Bridge',
       'PhoneKit2GW', 'point_of_sale_Store', 'receiving_Store',
       'staging_DC1', 'staging_DC2', 'store_back_Store',
       'store_front_Store', 'Forklift1_DC1', 'PhoneKit1GW'], dtype=object)

In [41]:
df.zona.nunique()

15

In [45]:
df.groupby(['asset_id']).nunique()

,tipo,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
asset_id,,,,,,,,,,
2,1,2,4,13,28,6769,63,63,238,238
37,1,2,4,14,23,12830,189,232,160,160
52,1,2,3,12,21,6819,53,59,314,314
58,1,2,3,11,19,8829,129,158,98,98
59,1,2,4,14,27,8823,130,158,338,338
62,1,2,4,13,24,11796,203,257,339,339
70,1,1,4,14,32,4648,160,192,281,281
84,1,2,3,13,23,8304,126,159,258,258
102,1,2,4,14,29,8197,110,132,406,406
145,1,2,4,13,21,4055,75,77,77,77
149,1,2,4,14,25,6348,59,61,119,119
159,1,2,4,12,25,6606,130,135,285,285
167,1,2,4,13,20,6774,152,178,408,408
170,1,2,4,14,29,6557,174,216,129,129
181,1,1,3,12,19,3495,33,36,262,262
182,1,2,3,10,23,5868,62,66,154,154
200,1,2,4,15,36,8112,197,240,102,102
205,1,2,4,15,32,5101,207,241,109,109

In [46]:
df.groupby(['asset_id'])['tag_id'].nunique()

asset_id
2      2
37     2
52     2
58     2
59     2
62     2
70     1
84     2
102    2
145    2
149    2
159    2
167    2
170    2
181    1
182    2
200    2
205    2
Name: tag_id, dtype: int64

In [48]:
pd.DataFrame(df.groupby(['asset_id'])['tag_id'].nunique())

          tag_id
asset_id
2              2
37             2
52             2
58             2
59             2
62             2
70             1
84             2
102            2
145            2
149            2
159            2
167            2
170            2
181            1
182            2
200            2
205            2

In [49]:
pd.DataFrame(df.groupby(['asset_id'])['tag_id'].nunique()).reset_index()

    asset_id  tag_id
0          2       2
1         37       2
2         52       2
3         58       2
4         59       2
5         62       2
6         70       1
7         84       2
8        102       2
9        145       2
10       149       2
11       159       2
12       167       2
13       170       2
14       181       1
15       182       2
16       200       2
17       205       2

In [54]:
pd.DataFrame(df.groupby(['Sitio'])['zona'].nunique()).reset_index()

     Sitio  zona
0     DC 1     5
1     DC 2     2
2    Store     4
3  Transit     4

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130061 entries, 0 to 130060
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tipo           130061 non-null  object
 1   asset_id       130061 non-null  int64
 2   tag_id         130061 non-null  object
 3   Sitio          130061 non-null  object
 4   zona           130061 non-null  object
 5   device_id      130061 non-null  object
 6   hora           130061 non-null  datetime64[ns]
 7   lat            130061 non-null  float64
 8   lng            130061 non-null  float64
 9   Temperature_C  130061 non-null  float64
 10  Temperature_F  130061 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 10.9+ MB

In [55]:
import numpy as np

In [87]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130062 entries, 0 to 130061
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Tipo       130062 non-null  object
 1   Asset ID   130062 non-null  object
 2   Tag ID     130062 non-null  object
 3   Sitio      130062 non-null  object
 4   Zona       0 non-null       object
 5   Device ID  130062 non-null  object
 6   Tiempo     130062 non-null  object
 7   lat        130062 non-null  object
 8   Ing        130062 non-null  object
 9   Temp_C     0 non-null       object
 10  Temp_F     130062 non-null  object
dtypes: object(11)
memory usage: 10.9+ MB

In [ ]:
df_1.loc[df_1 ['Zona'].sample(frac=2000, replace = True).index, 'Zona' ] = np.NaN
df_1

In [69]:
df_1.loc[df_1 ['Zona'].sample(frac=2000, replace = True).index, 'Zona' ] = np.NaN
df_1.loc[df_1 ['Temp_C'].sample(frac=1800, replace = True).index, 'Temp_C' ] = np.NaN
df_1.loc[df_1 ['Temp_F'].sample(frac=2200, replace = True).index, 'Temp_F' ] = np.NaN
df_1

KeyboardInterrupt: ignored

In [ ]:
df_1.info()

In [59]:
df_2 = df_1.fillna('NA')
df_2

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,Ing,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [ ]:
df_3...

In [62]:
df_1[df_1.Temp_C.isna()]

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,Ing,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [64]:
df_4 = df_1.dropna()
df_4

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,Ing,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [66]:
df_5 = df_1.dropna(subset = ['Zona'])
df_5

,Tipo,Asset ID,Tag ID,Sitio,Zona,Device ID,Tiempo,lat,Ing,Temp_C,Temp_F
0,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628000,47.79158,-65.68902,23,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660000,47.79158,-65.68902,23,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234000,47.79158,-65.68902,23,73.4
4,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172000,47.79158,-65.68902,23.5,74.3
...,...,...,...,...,...,...,...,...,...,...,...
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273000,47.74923,-65.64101,23.1,73.58
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699000,47.74923,-65.64101,23.5,74.3
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173000,47.74923,-65.64101,23,73.4
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228000,47.74923,-65.64101,23,73.4
130061,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525000,47.74923,-65.64101,24,75.2

In [68]:
df_1.isnull().sum()

Tipo         0
Asset ID     0
Tag ID       0
Sitio        0
Zona         0
Device ID    0
Tiempo       0
lat          0
Ing          0
Temp_C       0
Temp_F       0
dtype: int64

In [86]:
df_2 = df[df.asset_id == 2]
df_2

,tipo,asset_id,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.791580,-65.689020,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.791580,-65.689020,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.791580,-65.689020,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.791580,-65.689020,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.791580,-65.689020,23.0,73.4
...,...,...,...,...,...,...,...,...,...,...,...
6764,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:00:28.894,47.749230,-65.641010,22.0,71.6
6765,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:00:50.535,47.749230,-65.641010,22.0,71.6
6766,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:01:28.268,47.749230,-65.641010,22.0,71.6
6767,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:02:57.199,47.749388,-65.640811,22.0,71.6
6768,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:04:58.575,47.749230,-65.641010,22.0,71.6

In [73]:
df_2.asset_id.nunique()

1

In [74]:
df_3 = df[df.asset_id.isin([2,70,205])]
df_3

,tipo,asset_id,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.40
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.40
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.40
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.30
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.40
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20

In [75]:
df_3.asset_id.nunique()

3

In [76]:
# | = "o"
# & = "y"

df_3 = df[df.asset_id.isin([2,70,205]) & (df.Temperature_C >= 24)]
df_3

,tipo,asset_id,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
5,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:22:09.038,47.79366,-65.75921,25.0,77.0
6,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:26:07.080,47.79366,-65.75921,25.0,77.0
7,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 10:59:28.892,47.79366,-65.75921,24.5,76.1
8,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 12:48:11.580,47.79366,-65.75921,25.0,77.0
9,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 13:02:29.755,47.79366,-65.75921,25.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...
129959,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,C8C08D22E0B1,2022-08-04 11:56:08.456,47.74923,-65.64101,24.0,75.2
129960,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 11:58:22.995,47.74923,-65.64101,24.0,75.2
129961,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 11:58:43.510,47.74923,-65.64101,24.0,75.2
129962,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 11:59:14.973,47.74923,-65.64101,24.0,75.2
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.2

In [77]:
df_3.asset_id.nunique()

3

In [78]:
df_3.Temperature_C.min()

24.0

In [84]:
df_3 = df[(df.Sitio == 'Store') & (df.Temperature_F >= 76)]
df_3

,tipo,asset_id,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
241,tote,2,(01)00850027865010(21)0082T0219,Store,point_of_sale_Store,EEEB01ADE266,2022-08-04 10:58:04.546,47.74923,-65.64101,24.5,76.10
253,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,DC4FBAED57C9,2022-08-04 08:35:59.046,47.74923,-65.64101,24.5,76.10
254,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,DC4FBAED57C9,2022-08-04 08:36:17.140,47.74923,-65.64101,24.5,76.10
255,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,AC8DEAE6FD79,2022-08-04 08:37:29.468,47.74909,-65.64076,24.5,76.10
256,tote,2,(01)00850027865010(21)0082T0219,Store,receiving_Store,AC8DEAE6FD79,2022-08-04 08:37:58.624,47.74923,-65.64101,24.5,76.10
...,...,...,...,...,...,...,...,...,...,...,...
129516,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:54:56.166,47.74923,-65.64101,28.0,82.40
129517,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:55:57.114,47.74923,-65.64101,28.0,82.40
129518,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:56:56.734,47.74923,-65.64101,28.0,82.40
129519,tote,205,(01)00850027865010(21)0082T1137,Store,store_back_Store,58DB59BDCE08,2022-08-04 08:59:43.126,47.74923,-65.64101,27.0,80.60
129935,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 10:50:26.688,47.74923,-65.64101,25.7,78.26

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130061 entries, 0 to 130060
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tipo           130061 non-null  object
 1   asset_id       130061 non-null  int64
 2   tag_id         130061 non-null  object
 3   Sitio          130061 non-null  object
 4   zona           130061 non-null  object
 5   device_id      130061 non-null  object
 6   hora           130061 non-null  datetime64[ns]
 7   lat            130061 non-null  float64
 8   lng            130061 non-null  float64
 9   Temperature_C  130061 non-null  float64
 10  Temperature_F  130061 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 10.9+ MB

In [85]:
df_3 = df[(df.Temperature_F >= 76) & (df.Temperature_F <= 80)]
df_3

,tipo,asset_id,tag_id,Sitio,zona,device_id,hora,lat,lng,Temperature_C,Temperature_F
5,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:22:09.038,47.793660,-65.759210,25.0,77.00
6,tote,2,(01)00850027865010(21)0082T0219,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 13:26:07.080,47.793660,-65.759210,25.0,77.00
7,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,379663A695EF,2022-08-03 10:59:28.892,47.793660,-65.759210,24.5,76.10
8,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 12:48:11.580,47.793660,-65.759210,25.0,77.00
9,tote,2,(01)00850027865010(21)0082T0670,DC 2,dock_doors_DC2,2FC8DD79125D,2022-08-03 13:02:29.755,47.793660,-65.759210,25.0,77.00
...,...,...,...,...,...,...,...,...,...,...,...
128787,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:09:03.114,47.749230,-65.641010,24.5,76.10
128788,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:09:53.903,47.749230,-65.641010,24.5,76.10
128789,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:10:20.984,47.749230,-65.641010,24.5,76.10
128790,tote,205,(01)00850027865010(21)0082T1136,Store,store_back_Store,F2F715EFF03F,2022-08-05 06:10:36.800,47.749388,-65.640811,24.5,76.10
129935,tote,205,(01)00850027865010(21)0082T1136,Store,store_front_Store,6AF833197EE3,2022-08-04 10:50:26.688,47.749230,-65.641010,25.7,78.26

In [15]:
df.head()

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4

In [17]:
df['Temperature_F'] = 0
df

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,0
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,0
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,0
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,0
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,0
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,0
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,0
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,0
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,0
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,0

In [18]:
df['Temperature_F'] = 'NA'
df

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,NA
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,NA
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,NA
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,NA
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,NA
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,NA
130057,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,NA
130058,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,NA
130059,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,NA
130060,tote,205,(01)00850027865010(21)0082T1137,Store,store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,NA

In [22]:
df['Temperature_F'] = df['Temperature_C']*9/5 + 32
df

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.40
1,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.40
2,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.40
3,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.30
4,tote,2,(01)00850027865010(21)0082T0670,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.40
...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58
130057,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30
130058,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40
130059,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40
130060,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20

In [23]:
df['Site_1'] = df['Zone'].str.split(pat = '_')
df

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Site_1
0,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]"
1,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]"
2,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]"
3,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.30,"[dock, doors, DC1]"
4,tote,2,(01)00850027865010(21)0082T0670,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]"
...,...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58,"[store, front, Store]"
130057,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30,"[store, front, Store]"
130058,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40,"[store, front, Store]"
130059,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40,"[store, front, Store]"
130060,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20,"[store, front, Store]"

In [25]:
df_1 = df[df.Zone == 'dock_doors_DC1'].copy()
df_1["Site_1"] = df_1['Zone'].str.split(pat = '_', expand = True)
df_1

ValueError: ignored

In [27]:
from datetime import datetime, date

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130061 entries, 0 to 130060
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   asset_type     130061 non-null  object
 1   asset_id       130061 non-null  int64
 2   tag_id         130061 non-null  object
 3   Site           130061 non-null  object
 4   Zone           130061 non-null  object
 5   device_id      130061 non-null  object
 6   time_est       130061 non-null  datetime64[ns]
 7   lat            130061 non-null  float64
 8   lng            130061 non-null  float64
 9   Temperature_C  130061 non-null  float64
 10  Temperature_F  130061 non-null  float64
 11  Site_1         130061 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 11.9+ MB

In [29]:
df.groupby(['time_est']).asset_id.unique()

time_est
2022-08-02 10:14:54.326     [70]
2022-08-02 10:15:38.860     [70]
2022-08-02 10:17:23.366     [37]
2022-08-02 10:18:23.847     [37]
2022-08-02 10:20:43.706     [37]
                           ...
2022-08-05 13:28:26.584    [167]
2022-08-05 13:28:27.564    [200]
2022-08-05 13:28:28.172    [181]
2022-08-05 13:28:28.576     [59]
2022-08-05 13:28:29.966     [52]
Name: asset_id, Length: 129887, dtype: object

In [31]:
df.head()

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Site_1
0,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4,"[dock, doors, DC1]"
1,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4,"[dock, doors, DC1]"
2,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4,"[dock, doors, DC1]"
3,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3,"[dock, doors, DC1]"
4,tote,2,(01)00850027865010(21)0082T0670,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4,"[dock, doors, DC1]"

In [34]:
df['Fecha'] = pd.to_datetime(df.time_est).dt.date
df

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Site_1,Fecha
0,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]",2022-08-02
1,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]",2022-08-02
2,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]",2022-08-02
3,tote,2,(01)00850027865010(21)0082T0219,"[dock, doors, DC1]",dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.30,"[dock, doors, DC1]",2022-08-02
4,tote,2,(01)00850027865010(21)0082T0670,"[dock, doors, DC1]",dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.40,"[dock, doors, DC1]",2022-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130056,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:48:51.273,47.74923,-65.64101,23.1,73.58,"[store, front, Store]",2022-08-04
130057,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:49:58.699,47.74923,-65.64101,23.5,74.30,"[store, front, Store]",2022-08-04
130058,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:52:45.173,47.74923,-65.64101,23.0,73.40,"[store, front, Store]",2022-08-04
130059,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 12:53:48.228,47.74923,-65.64101,23.0,73.40,"[store, front, Store]",2022-08-04
130060,tote,205,(01)00850027865010(21)0082T1137,"[store, front, Store]",store_front_Store,26AB1C9A2E41,2022-08-04 16:33:25.525,47.74923,-65.64101,24.0,75.20,"[store, front, Store]",2022-08-04

In [35]:
df.groupby(['time_est']).asset_id.unique()

time_est
2022-08-02 10:14:54.326     [70]
2022-08-02 10:15:38.860     [70]
2022-08-02 10:17:23.366     [37]
2022-08-02 10:18:23.847     [37]
2022-08-02 10:20:43.706     [37]
                           ...
2022-08-05 13:28:26.584    [167]
2022-08-05 13:28:27.564    [200]
2022-08-05 13:28:28.172    [181]
2022-08-05 13:28:28.576     [59]
2022-08-05 13:28:29.966     [52]
Name: asset_id, Length: 129887, dtype: object

In [40]:
df.groupby(['Fecha','Site']).asset_id.unique()

TypeError: ignored

In [37]:
df.groupby(['Fecha','Site','Zone']).asset_id.unique()

TypeError: ignored

In [ ]:
pd.DataFrame(df.groupby(['Fecha','Site','Zone','asset_id']).tag_id.nunique())

In [ ]:
df.groupby(['Fecha','Site','asset_id']).agg(temp_min = ('Temperature_C','min'), temp_max = ('Temperature_C','max') )

In [ ]:
df.groupby(['Fecha','Site','asset_id']).agg(temp_min = ('Temperature_C','min'), temp_max = ('Temperature_C','max'), temp_avg = ('Temperature_C','mean'))